<form action="/lecturer-dashboard/student/<%= student._id %>/upload?_method=PUT" method="POST"
  enctype="multipart/form-data">
  <label class="studentName" for="studentName">
    <%= student.studentName %>
  </label>
  <input type="hidden" name="studentId" value="<%= student._id %>" />
  <label for="kpiType">KPI Type</label>
  <select id="kpiType" name="kpiType" required>
    <option value="GPA" <%=student.kpiType==='GPA' ? 'selected' : '' %>>GPA</option>
    <option value="Attendance Percentage" <%=student.kpiType==='Attendance Percentage' ? 'selected' : '' %>>Attendance
      Percentage</option>
    <option value="Event Engagement" <%=student.kpiType==='Event Engagement' ? 'selected' : '' %>>Event Engagement
    </option>
  </select>
  <label for="fileUpload" id="custom-file-label" class="file-label"
    data-filename="<%= student.supportingFile ? student.supportingFile.split('/').pop() : '' %>">
    Add Supporting File (PDF/DOC)
  </label>
  <input type="file" class="form-control" id="fileUpload" name="supportingFile" />

  <label for="assignerComment">Comment</label>
  <textarea name="assignerComment" rows="5" placeholder="Comment..."><%= student.assignerComment || '' %></textarea>

  <input type="hidden" name="advisor" value="<%= student.advisor %>" />
  <button type="submit" id="submitBtn">Submit</button>
</form>

<link rel="stylesheet" href="/css/formStyles.css">